# Pandas

### Working with DataSet using Pandas
- Pandas is an Open Source Library 
- For Data Analysis in Python
- We will be using for reading and writing data between in-memory data structures and files - CSV's, Tex Files, SQL Databases, Excel Sheets etc.

- Reshaping, Slicing, Indexing, Merging and Joining Datasets

In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [48]:
data_dictionary={
    'MarksA':np.random.randint(1,100,5),
    'MarksB':np.random.randint(1,100,5),
    'MarksC':np.random.randint(1,100,5)
}

print(data_dictionary)

data=pd.DataFrame(data_dictionary)
data.head(n=3) #show first 3 records
data.tail(n=3) #show last 3 records

{'MarksA': array([43, 16, 10, 49, 26]), 'MarksB': array([41, 87, 55, 28,  4]), 'MarksC': array([25, 68, 47, 88, 77])}

   MarksA  MarksB  MarksC
2      10      55      47
3      49      28      88
4      26       4      77

In [49]:
#to get all headers
print(data.columns,type(data.columns))

statistical_info=data.describe()
statistical_info.head()

Index(['MarksA', 'MarksB', 'MarksC'], dtype='object') <class 'pandas.core.indexes.base.Index'>

          MarksA     MarksB     MarksC
count   5.000000   5.000000   5.000000
mean   28.800000  43.000000  61.000000
std    16.843396  30.943497  25.129664
min    10.000000   4.000000  25.000000
25%    16.000000  28.000000  47.000000

#### Selecting data by row numbers (.iloc)
### Selecting data by label or by a conditional statment (.loc)
<img src='Pandas-selections-and-indexing.png'>

In [50]:


#row
print(data.iloc[1])

#row and column
print(data.iloc[1,2],data.iloc[1][2])

idx=[data.columns.get_loc('MarksB') , data.columns.get_loc('MarksC')]
print(idx)
print(data.iloc[0,idx],type(data.iloc[0,idx]))  #resultants are also DF
print(data.iloc[0:2,idx])

MarksA    16
MarksB    87
MarksC    68
Name: 1, dtype: int64
68 68
[1, 2]
MarksB    41
MarksC    25
Name: 0, dtype: int64 <class 'pandas.core.series.Series'>
   MarksB  MarksC
0      41      25
1      87      68

In [51]:
data.sort_values(by=['MarksB','MarksA'],ascending=False)
#it firsts sort by MarksB and then next priority to MarksA i.e if for 2 rows if MarksB is equal
#then it check for MarksA

   MarksA  MarksB  MarksC
1      16      87      68
2      10      55      47
0      43      41      25
3      49      28      88
4      26       4      77

In [52]:
arr=data.values #numpy arrays
headers=data.columns
print(arr,type(arr))

df=pd.DataFrame(arr,columns=headers)
df.head()

[[43 41 25]
 [16 87 68]
 [10 55 47]
 [49 28 88]
 [26  4 77]] <class 'numpy.ndarray'>

   MarksA  MarksB  MarksC
0      43      41      25
1      16      87      68
2      10      55      47
3      49      28      88
4      26       4      77